.vp-tag-noqm {
  --vp-tag-color: #6aa1b7;
  --vp-tag-hover-color: #5086a1;
  --vp-tag-bg: rgba(131, 208, 218, 0.314);
}
.vp-tag-ldm0 {
  --vp-tag-color: #299764;
  --vp-tag-hover-color: #18794e;
  --vp-tag-bg: rgba(16, 185, 129, 0.14);
}
.vp-tag-ig4e {
  --vp-tag-color: #946300;
  --vp-tag-hover-color: #915930;
  --vp-tag-bg: rgba(234, 179, 8, 0.14);
}
.vp-tag-56ss {
  --vp-tag-color: #d5393e;
  --vp-tag-hover-color: #b8272c;
  --vp-tag-bg: rgba(244, 63, 94, 0.14);
}
.vp-tag-yh4j {
  --vp-tag-color: #7e4cc9;
  --vp-tag-hover-color: #6f42c1;
  --vp-tag-bg: rgba(159, 122, 234, 0.14);
}
.vp-tag-2v2x {
  --vp-tag-color: #3a5ccc;
  --vp-tag-hover-color: #3451b2;
  --vp-tag-bg: rgba(100, 108, 255, 0.14);
}
.vp-tag-fqil {
  --vp-tag-color: #fab10f;
  --vp-tag-hover-color: #f39c12;
  --vp-tag-bg: rgba(255, 213, 0, 0.14);
}
.vp-tag-zhhz {
  --vp-tag-color: #cc6699;
  --vp-tag-hover-color: #be3f7f;
  --vp-tag-bg: rgba(161, 54, 107, 0.14);
}
.vp-tag-cadc {
  --vp-tag-color: #55aaee;
  --vp-tag-hover-color: #2391e9;
  --vp-tag-bg: rgba(21, 123, 206, 0.1333);
}
.vp-tag-he84 {
  --vp-tag-color: #9933cc;
  --vp-tag-hover-color: #aa56d5;
  --vp-tag-bg: rgba(179, 102, 217, 0.2);
}
.vp-tag-we14 {
  --vp-tag-color: #cc3366;
  --vp-tag-hover-color: #d55680;
  --vp-tag-bg: rgba(217, 102, 140, 0.2);
}
.vp-tag-gk5p {
  --vp-tag-color: #cc9933;
  --vp-tag-hover-color: #be7f3f;
  --vp-tag-bg: rgba(161, 107, 54, 0.2);
}
.vp-tag-6cax {
  --vp-tag-color: #9966cc;
  --vp-tag-hover-color: #7171b8;
  --vp-tag-bg: rgba(83, 83, 167, 0.14);
}
.vp-tag-asdd {
  --vp-tag-color: #66cccc;
  --vp-tag-hover-color: #3fbebe;
  --vp-tag-bg: rgba(54, 161, 161, 0.14);
}
.vp-tag-6s1s {
  --vp-tag-color: #3366cc;
  --vp-tag-hover-color: #5680d5;
  --vp-tag-bg: rgba(102, 140, 217, 0.14);
}
.vp-tag-48an {
  --vp-tag-color: #339999;
  --vp-tag-hover-color: #41c0c0;
  --vp-tag-bg: rgba(83, 198, 198, 0.2);
}
.vp-tag-76gn {
  --vp-tag-color: #a6623b;
  --vp-tag-hover-color: #c17950;
  --vp-tag-bg: rgba(199, 134, 97, 0.2411);
}
.vp-tag-5cmk {
  --vp-tag-color: #8ecaef;
  --vp-tag-hover-color: #55afe7;
  --vp-tag-bg: rgba(42, 155, 225, 0.147);
}
